<form class="new-post form-style">
    <div class="mb-3">
        <label for="post-title" class="form-label input-title">Title</label>
        <textarea class="form-control" id="post-title"></textarea>
    </div>
    <div class="mb-3">
        <label for="post-contents" class="form-label input-title">Post contents</label>
        <textarea class="form-control" id="post-contents" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-styling">Submit</button>
</form>

<script src="/js/create-post.js"></script>