<div class="row row-adjust">
    <div class="col-12 col-lg-6">
        <h2 class="login-heading">
            Don't have an account? Sign up!
        </h2>
        <form class="form-style sign-up-form">
            <div class="mb-3">
              <label for="nameInputEmail1" class="form-label input-title">Username</label>
              <input type="name" class="form-control" id="sign-up-name-input" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label input-title">Email address</label>
              <input type="email" class="form-control" id="sign-up-email-input" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label input-title">Password</label>
              <input type="password" class="form-control" id="sign-up-password-input">
            </div>
            <button type="submit" class="btn btn-styling">Sign up</button>
        </form>
    </div>

    <div class="col-12 col-lg-6">
        <h2 class="login-heading">
            Have an account? Log in!
        </h2>
    
        <form class="form-style log-in-form">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label input-title">Email address</label>
              <input type="email" class="form-control" id="log-in-email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label input-title">Password</label>
              <input type="password" class="form-control" id="log-in-password">
            </div>
            <button type="submit" class="btn btn-styling">Log in</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>